
<div class="container " style="text-align:center">
  <div class= 'row banner-home'>
    <div class= 'col-lg-6'>
      <% if !someone_signed_in?%>
          <h1 id='title'>Welcome to Marketplace.</h1>
          <div class='buttons'>
            <ul>
            <li class='home-btn'><%= link_to "Sign in as a worker",    new_worker_session_path, class: "btn btn-lg btn-primary"%></li>
            <li><%= link_to "Sign in as a client",    new_client_session_path, class: "btn btn-lg btn-primary" %></li>
            <li><%= link_to "Sign in as an admin",     new_admin_session_path,  class: "btn btn-lg btn-primary" %></li>
            <li><%= link_to "Continue as visitor",     job_requests_path,  class: "btn btn-lg btn-primary" %></li>
            </ul>
          </div>
      </div>
  </div>
  <%else%>
    <% if worker_signed_in? %>
        <%= render 'home_partials/worker' %>
    <% elsif client_signed_in?%>
        <%= render 'home_partials/client' %>
    <% elsif admin_signed_in?%>
        <%= render 'home_partials/admin' %>
    <% end %>
  <%end%>
</div>
