
<div class="center jumbotron">
  <h1 class='title'>MKPlace</h1>
  <% if !someone_signed_in?%>
        <ul>
        <li><%= link_to "Sign in as a worker",    new_worker_session_path, class: "btn btn-lg btn-primary"%></li>
        <li><%= link_to "Sign in as a client",    new_client_session_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "Sign in as an admin",     new_admin_session_path,  class: "btn btn-lg btn-primary" %></li>
        </ul>
  <%else%>
    <% if worker_signed_in? %>
        <%= render 'home_partials/worker' %>
    <% elsif client_signed_in?%>
        <%= render 'home_partials/client' %>
    <% elsif admin_signed_in?%>
        <%= render 'home_partials/admin' %>
    <% end %>

  <%end%>
</div>

