
<div class='container'>
    <% if admin_signed_in? %>
        <%= render 'candidacies/admin_candidacy' %>
    <% elsif worker_signed_in? %>
        <h2> My candidacies </h2>
        <% current_worker.candidacies.each do |candidacy| %>
            <h3> Job: <%= candidacy.job_request.job_function %></h3>
            <p>Client: <%=candidacy.job_request.client.name%></p>
            <p>Worker: <%=candidacy.worker.name%></p>
            <p>Status: <%=candidacy.status%></p>
        <%end%>

    <% elsif client_signed_in? %>
        <h2> Candidacies to my Jobs</h2>
        <% current_client.job_requests.each do |jobs| %>
            <% jobs.candidacies.each do |candidacy| %>
            <h3> Job: <%= jobs.job_function %></h3>
            <p>Client: <%=jobs.client.name%></p>
            <p><%= link_to candidacy.worker.name, worker_path(candidacy.worker)%></p>
            <p>Status: <%=candidacy.status%></p>
            <%end%>
        <%end%>
    <%end%>
</div>