<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'MARKETPLACE-ADMINS', root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right"> 
        <li class='job'><%= link_to "Jobs", job_requests_path %></li> 
        <li class='worker'><%= link_to "Workers", workers_path %></li> 
        <li><%= link_to "Placements", placements_path %></li> 
        <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li><%= link_to "Profile", current_admin %> </li>
            <li><%= button_to "Log out", destroy_admin_session_path, method: :delete %> </li>
            <li><%= link_to "Edit profile", edit_admin_registration_path %> </li>
         </ul>    
    </nav>
  </div>
</header>
