<% if worker_signed_in? %> 
    <h2> Available jobs </h2>
<% elsif admin_signed_in? %>
   <h2> All jobs </h2>
<% elsif client_signed_in? %>
    <h2> My job requests </h2>
<%else%>
    <h2> Explore available jobs </h2>
<%end%>

<% if !@jobs.nil? %>
    <div class='container'>
    <%@jobs.each do |job| %>
        <h3><%= job.job_function%></h2>
            <p> Vacancies: <%=job.vacancies_count%></p>
            <p> Company:   <%=job.client.name%></p>
            <%if current_worker%>
                <p><%= link_to 'Apply for this job', job_request_path(job)%></p>
            <%else%>
                <p><%= link_to 'More information', job_request_path(job)%></p>
            <%end%>
    <%end%>
</div>
<%end%>
