<div class='container'>
    <h2> Placements</h2>
    <div class='row'>
        <div class='col-lg-6'>
            <h3>Current placements</h3>
            <%@current_placements.each do |placement|%>
                Job:<p><%=placement.job_request.job_function%></p>
                Company: <p><%=placement.client.name%></p>
                Worker:<p><%=placement.worker.name%></p>
                Start date:<p><%=placement.start_date%></p>
                End Date:<p><%=placement.end_date%></p>
                Monthly Salary:<p><%=placement.monthly_salary%></p>
                <br>
            <%end%>
        </div>
        <div class='col-lg-6'>
           <h3>Past placements</h3>
            <%@old_placements.each do |placement|%>
                Job:<p><%=placement.job_request.job_function%></p>
                Company: <p><%=placement.client.name%></p>
                Worker:<p><%=placement.worker.name%></p>
                Start date:<p><%=placement.start_date%></p>
                End Date:<p><%=placement.end_date%></p>
                Monthly Salary:<p><%=placement.monthly_salary%></p>
                <br>
            <%end%>
        </div>
    </div>
</div>