<div class='container'>
    <h2> Placements</h2>
    <div class='row'>
        <div class='col-lg-6 placement-index'>
            <h3>Current placements</h3>
            <%@current_placements.each do |placement|%>
                <div class='placement-card'>
                    Job:<p><%=placement.job_request.job_function%></p>
                    Company: <p><%=placement.client.name%></p>
                    Worker:<p><%=placement.worker.name%></p>
                    <%= link_to 'More Information', placement_path(placement) %>
                </div>
            <%end%>
        </div>
        <div class='col-lg-6 placement-index'>
           <h3>Past placements</h3>
           
            <%@old_placements.each do |placement|%>
                <div class='placement-card'>
                    Job:<p><%=placement.job_request.job_function%></p>
                    Company: <p><%=placement.client.name%></p>
                    Worker:<p><%=placement.worker.name%></p>
                    <%= link_to 'More Information', placement_path(placement) %>
                    <br>
                </div>
            
            <%end%>
        </div>
    </div>
</div>