<% provide(:button_text, 'Change status') %>
<div class='container'>
    <div class='show-card'>
        <% if (current_admin || current_client) %>
            <%= link_to 'Back to workers', workers_path%>
        <%end%>
        <div class='worker-card'>
            <p>Name: <%= @worker.name %></p>
            <p>E-Mail: <%= @worker.email %></p>
            <p>Status: <%= @worker.working ? "Currently working" : "Currently not working" %></p>
            <% if @worker.working %>
                <%= link_to 'current placement', placement_path(@worker.placements.last) %>
            <%end%>
            <p>Availability: <%= @worker.available ? "Available" : "Not Available" %></p>
            <% if !@worker.skills.empty?%>
            <p>Skills:<p>
                <%@worker.skills.each do |skill| %>
                    <p><%= skill %></p>
                    <% end %>
            <%end%>

            <%if current_admin %>
            <p>Rehirable status: <%= !@worker.rehirable ? "Rehirable" : "Not Rehirable" %></p>
                <%= form_for (@worker) do |f| %>
                    <%= f.label :rehirable %>
                    <%= f.check_box :rehirable %><br/>
                    <%= f.submit yield(:button_text), class: "btn btn-primary rehir" %>
                <% end %>
            <% end %>

            <% if current_client && !@worker.working%>
             <%= link_to 'Send opportunity to worker', worker_inform_worker_path(@worker.id)%>
            <%end%>

            
            
        </div>
    </div>

</div>